:root {
    --color-background: #fafafa;
    --color-foreground: #222;

    --color-border: #ccc;
}

body {
    margin: 0;
    padding: 1rem;

    background-color: var(--color-background);

    color: var(--color-foreground);
    font-family: sans-serif;
    line-height: 1.6;

}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}